<div class="content">
<div class="left">
    <div class="logos">
        <ul>
            <li>
              {{#link-to 'tut2'}} <img class="logo" src="assets/images/minibook_logo.png"/>{{/link-to}}
            </li>
            <li>
                <img class="logo" src="assets/images/wemontage_logo.png"/>
            </li>
            <li>
                <img class="logo" src="assets/images/poetics_logo.png"/>
            </li>
            <li>
                <img class="logo" src="assets/images/tse_logo.png"/>
            </li>
            <li>
                <img class="logo" src="assets/images/sferra_logo.png"/>
            </li>
            <li>
                <img class="logo" src="assets/images/SEEING_logo.png"/>
            </li>
            <li>
                <img class="logo" src="assets/images/%7Boneworld%7D_logo.png"/>
            </li>

            <li>
                <img class="logo" src="assets/images/RedFish_logo.png"/>
            </li>
            <li>
                <img class="logo" src="assets/images/moet1280_logo.png"/>
            </li>
            <li>
                <img class="logo" src="assets/images/remymartin_logo.png"/>
            </li>
            <li>
                <img class="logo" src="assets/images/whotels_logo.png"/>
            </li>
        </ul>
    </div>

    <div class="line">
        <ul>
            <li>
                <img class="circleImg" src="assets/images/circle.png"/>
            </li>
            <li>
                <img class="circleImg" src="assets/images/circle.png"/>
            </li>
            <li>
                <img class="circleImg" src="assets/images/circle.png"/>
            </li>
            <li>
                <img class="circleImg" src="assets/images/circle.png"/>
            </li>
            <li>
                <img class="circleImg" src="assets/images/circle.png"/>
            </li>
            <li>
                <img class="circleImg" src="assets/images/circle.png"/>
            </li>
            <li>
                <img class="circleImg" src="assets/images/circle.png"/>
            </li>
            <li>
                <img class="circleImg" src="assets/images/circle.png"/>
            </li>
            <li>
                <img class="circleImg" src="assets/images/circle.png"/>
            </li>
            <li>
                <img class="circleImg" src="assets/images/circle.png"/>
            </li>
            <li>
                <img class="circleImg" src="assets/images/circle.png"/>
            </li>


        </ul>
    </div>


</div>


<div class="right">
    <div>
        <h1>SELECTED PROJECTS</h1>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras dapibus vulputate diam eu pretium.
            Lorem
            ipsum
            dolor sit amet, consectetur adipiscing elit. Cras dapibus vulputate diam eu pretium. Lorem ipsum
            dolor
            sit
            amet, consectetur adipiscing elit. Cras dapibus vulputate diam eu pretium. </p>
    </div>
    <div class="works">
        <ul>
            <li>
                <div class="workImage">
                    <img class="image" src="assets/images/minibook_iphone.png"/>
                </div>
                <div class="workContent">
                    <h2>MINIBOOK <span class="year">2014</span></h2>

                    <p>MiniBook is an iphone app that explores storytelling in its own format. The format
                        has </p>
                </div>
            </li>
            <li>
                <div class="workImage">
                    <img class="image" src="assets/images/wemontage_mac.png"/>
                </div>
                <div class="workContent">
                    <h2>WEMONTAGE <span class="year">2013</span></h2>

                    <p>MiniBook is an iphone app that explores storytelling in its own format. The format
                        has </p>
                </div>
            </li>
            <li>
                <div class="workImage">
                    <img class="image" src="assets/images/poetics_iphone.png"/>
                </div>
                <div class="workContent">
                    <h2>POETICS <span class="year">2013</span></h2>

                    <p>MiniBook is an iphone app that explores storytelling in its own format. The format
                        has </p>
                </div>

            </li>
            <li>
                <div class="workImage">
                    <img class="image" src="assets/images/tse_mac.png"/>
                </div>
                <div class="workContent">
                    <h2>TSE <span class="year">2012</span></h2>

                    <p>MiniBook is an iphone app that explores storytelling in its own format. The format
                        has </p>
                </div>
            </li>
            <li>
                <div class="workImage">
                    <img class="image" src="assets/images/sferra_iphone.png"/>
                </div>
                <div class="workContent">
                    <h2>SFERRA <span class="year">2012</span></h2>

                    <p>MiniBook is an iphone app that explores storytelling in its own format. The format
                        has </p>
                </div>
            </li>
            <li>
                <div class="workImage">
                    <img class="image" src="assets/images/smc_iphone.png"/>
                </div>
                <div class="workContent">
                    <h2>ONEWORLD <span class="year">2012</span></h2>

                    <p>MiniBook is an iphone app that explores storytelling in its own format. The format
                        has </p>
                </div>
            </li>
            <li>
                <div class="workImage">
                    <img class="image" src="assets/images/oneworld_ipad.png"/>
                </div>
                <div class="workContent">
                    <h2>SEEING MORE COLORS <span class="year">2011</span></h2>

                    <p>MiniBook is an iphone app that explores storytelling in its own format. The format
                        has </p>
                </div>
            </li>

            <li>
                <div class="workImage">
                    <img class="image" src="assets/images/redfish_ipad.png"/>
                </div>
                <div class="workContent">
                    <h2>REDFISH GAME <span class="year">2010</span></h2>

                    <p>MiniBook is an iphone app that explores storytelling in its own format. The format
                        has </p>
                </div>
            </li>
            <li>
                <div class="workImage">
                    <img class="image" src="assets/images/moet_mac.png"/>
                </div>
                <div class="workContent">
                    <h2>MOET BUBBLES <span class="year">2008</span></h2>

                    <p>MiniBook is an iphone app that explores storytelling in its own format. The format
                        has </p>
                </div>
            </li>
            <li>
                <div class="workImage">
                    <img class="image" src="assets/images/remy_mac.png"/>
                </div>
                <div class="workContent">
                    <h2>REMY MARTIN GAME NIGHTS <span class="year">2007</span></h2>

                    <p>MiniBook is an iphone app that explores storytelling in its own format. The format
                        has </p>
                </div>
            </li>
            <li>
                <div class="workImage">
                    <img class="image" src="assets/images/w_mac.png"/>
                </div>
                <div class="workContent">
                    <h2>W HOTELS HOBOKEN <span class="year">2006</span></h2>

                    <p>MiniBook is an iphone app that explores storytelling in its own format. The format
                        has </p>
                </div>
            </li>
        </ul>
    </div>
</div>
    </div>

