<!-- app/templates/works.hbs -->
<div class="content">
    <section class="left">
        <div class="intro">
            <h1>SELECTED PROJECTS</h1>

            <p class="introtext">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras dapibus vulputate diam eu
                pretium. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras dapibus vulputate diam eu
                pretium. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras dapibus vulputate diam eu
                pretium.</p>
        </div>
        <div id="logosGrid">
            <div>
              {{#liquid-with model as currentModel}}
                {{#each currentModel as |work|}}
                    <button {{action "loadRight" work}} class="logo"><img class="image" src={{work.logo}}></button>
                {{/each}}
              {{/liquid-with}}
            </div>
        </div>
    </section>

    <div class="right">
    {{liquid-outlet}}
    </div>
</div>