<div class="content">
<div class="works">
<div class="workContent" data-speaker-id={{model.name}}>
    <h2>{{model.name}} <span class="year">{{model.year}}</span></h2>
    <p>{{model.description}}</p>
</div>
    </div>
</div>